header{
    height: 15em;
    font-size: 1.5em;
    padding-top: .5em;
    padding-right: 2em;
    text-align: center; 
    background-image: url(/images/dest_BOB_thumb2.jpg-fon.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}
a:link{
    text-decoration: none;
}
a:hover{
    color: #00f;
}
a:active{
    color: #f00;
}
header i{
    position:relative;
    left: 24em;bottom: 1em;
    color:cyan ;
}
header i:hover{
    color: #00f;
}
header i:active{
    color: #f00;
}
main{
    min-height: 70em;
    background-image: url("/images/bql\ fon.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header div a{
    color: cyan;
}
#email{
    text-align: left;
    margin-left: 4em;
}
img{
    border-radius: 10px;
    box-shadow: 10px 10px 10px aquamarine;
}
.Menu>li{
    width: 7em;
    height: 1em;
    display: inline-block;
    margin: -0.25em;
    position: relative;
    vertical-align: top;
    left: 2em;top: 13em;
    border: 1px solid #000;
    background-color: lightskyblue;
    color: #000;
    text-align: center;
    padding-top: .1em;
}
li ul{
    display: none;
    margin-top: 2px;
    background-color: #9f9;
}
ul li{
    border: 1px solid #000;
}
li:hover ul{
    display: block;
    background-color: lightskyblue;
    color: #000;
    font-size: 20px;
}
.spain{
    position: absolute;
    top: 21em;left: 5em;
    font-size: 1.5em;
}
.barcelona{
    position: absolute;
    top: 24em;left: 1em;
}
.rmadrit{
    position: absolute;
    top: 24em;left: 10em;
}
.amadrit{
    position: absolute;
    top: 24em;left: 18em;
}
.england{
    position: absolute;
    top: 21em;right: 8em;
    font-size: 1.5em;
}
#liverpool{
    position: absolute;
    top: 36em;right: 30em;
}
.mansity{
    position: absolute;
    top: 36em;right: 1em;
}
.shelsea{
    position: absolute;
    top: 36em;right: 13em;
}
.italy{
    position: absolute;
    top: 33em;left: 27em;
    font-size: 1.5em;
}
.juventus{
    position: absolute;
    top: 53em;right: 40em;
}
.milan{
    position: absolute;
    top: 53em;left: 2em;
}
.inter{
    position: absolute;
    top: 53em;right: 2em;
}
.france{
    position: absolute;
    top: 45em;left: 13em;
    font-size: 1.5em;
}
.monaco{
    position: absolute;
    top: 73em;left: 2em;
}
.lille{
    position: absolute;
    top: 73em;left: 17em;
}
.psj{
    position: absolute;
    top: 73em;left: 32em;
}
.german{
    position: absolute;
    top: 45em;right: 10em;
    font-size: 1.5em;
}
.bmunchen{
    position: absolute;
    top: 73em;right: 30em;
}
.borusiq{
    position: absolute;
    top: 73em;right: 16em;
}
.leipzig{
    position: absolute;
    top: 73em;right:2em;
}
main p{
    position: absolute;
    top: 55em;left: 1em;
    height: 10em;
    width: 40em;
    font-size: 1.5em;
    color: #111;
}
.logo-barones{
    position: absolute;
    top: 81em;right: 3em;
    text-align: center;
    color: #000;
}
footer{
    height: 15em;
    background-image: url(/images/footer777.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.info{
    position: absolute;
    top: 0.4em;right: 16em;
    color: cyan;
}
footer li{
    width: 10em;
    height: 2em;
    position: absolute;
    vertical-align: bottom;
    left: 10.5em;top: 30em;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-bottom:1px solid linen;
    font-size: 3em;
    text-align: center;
    color:rgb(20, 19, 19);
    border-radius: 10px;
}
.facebook{
    position:absolute;
    top: 50em;right: 3em;
    font-size: 2em;
}
.googlemaps{
    position: absolute;
    top: 52em;right: 2em;
    font-size: 2em;
}
.number{
    position: absolute;
    top: 68em;right: 24em;
    font-size: 1.5em;
}
.gloock{
    position: absolute;
    top: 68.5em;left: 1em;
    font-size: 1.5em;
}